[Unit]
Description=Container Initialization
DefaultDependencies=no
After=sysinit.target local-fs.target
Before=multi-user.target docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/container-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
